:root {
  /* iframe.js reads this */
  --brightness: dark;
}

* {
  border: none !important;
}

body {
  background-color: black !important;
  color: white;
  font-family: system-ui !important;
}

body.login-page {
  background-image: none;
}

.login-page .login-box,
.login-page .login-footer,
.login-box .login-content {
  background: #111 !important;
}

.dock-floating {
  background-color: black !important;
}

.dock-floating nav {
  background: black !important;
}

.pagination>li>a.btn {
  background: #111;
}

nav {
  background: #111 !important;
}

nav :focus {
  box-shadow: none !important;
}

nav li.active {
  background-color: #000;
}

nav li:hover:not(.active) {
  background-color: #222 !important;
}

.dropdown-menu li a:hover {
  background-color: #222 !important;
}

body .nav li a,
body .nav li a::before,
body .nav li a::after,
.nav-tabs:not(.navbar-nav)>li.active:not(.tabdrop)>a.pressed::before,
.nav-tabs:not(.navbar-nav)>li.active:not(.tabdrop)>a,
.nav-tabs:not(.navbar-nav)>li.active:not(.tabdrop)>a.pressed::before,
.nav-tabs:not(.navbar-nav)>li.active:not(.tabdrop)>a::before,
.nav-tabs:not(.navbar-nav)>li.active:not(.tabdrop)>a.pressed::before,
.nav-tabs:not(.navbar-nav)>li.active:not(.tabdrop)>a::after {
  background: none !important;
}

body .nav {
  margin-left: 15px;
}

body .nav li[role=presentation] {
  background-color: #111;
  margin-inline: 10px;
  padding-bottom: 5px;
}

body .nav li[role=presentation] a {
  color: #dbdbdb;
}

body .nav li.active[role=presentation] a {
  color: white !important;
  font-weight: bold;
}

.link-with-arrow::before {
  display: none;
}

.breadcrumb li {
  color: #bababa !important;
}

div.panel {
  margin: 20px !important;
}

div.panel,
div.panel-side,
td,
th,
.alert,
.dropdown-menu,
.dropdown-menu a:hover,
.datepick-popup,
#choices-tree,
.well,
.login-header,
.sidepanel,
.popover {
  background: #111 !important;
}

#schedule .block {
  background-color: #1c1c1c !important;
}

p,
label,
.dropdown-menu a {
  color: white !important;
}

div,
td,
input,
button,
table.vismaDatePickerCalendar *,
p.sub-text {
  color: #ccc !important;
}

input,
.dropdown button {
  background: #1d1d1d !important;
}

input[type=checkbox] {
  color-scheme: dark;
}

.dropdown .caret {
  filter: invert(100%);
}

/*Opinnot-sivun värit*/
#choices-tree li a[class$=graded] td {
  background-color: #333 !important;
}

footer img {
  filter: brightness(0) invert(1);
}