/*Variables*/
:root{
    --background:#151414;
    --navbar: #00000069;
    --alert: #FFD700;
    --brightness: dark; 
        
    --main:#201f1f; /*Laatikoiden väri*/
    --main1:#222121; /*Muiden laatikoiden värit*/
    --dropdown: #050505d4;
    --fontcolor:#FFD700; /*Tekstin väri*/
    --fontcolor1:#FFD700; /*Muun tekstin väri*/
    --linkcolor:#fff;
        
    
    /*Viestit-Osio*/
    --border:#FFD700;
    --viestit1:#1c1b1b; /*Viestien taustaväri*/
        
    /*Työjärjestys*/
    --tunti:#2f2f2f; /*Tuntien värit*/
    --tunti1:#FFD700; /*Tuntien reunat*/
        
    /*OPINNOT-Sivu - (Pak)olliset, (syv)entävät ja (sov)eltavat*/
    /*Pakolliset*/
    --pak: #88ef75b3;/*Laatikon väri*/
    --pak1: #1aa400; /*Laatikon reunat*/
    /*Syventävät*/
    --syv: #ecff31;  /*Laatikon väri*/
    --syv1: #ffe528; /*Laatikon reunat*/
    /*Soveltavat*/
    --sov: #fff;     /*Laatikon väri*/
    --sov1: #999999; /*Laatikon reunat*/
    /*Suorittamattomat*/
    --suo: #373636;
    }
    /*Väriasetukset*/

/*Tekstien värit*/
body{
    background-color: navy;
    color: var(--fontcolor);
}
.secondary-text{
    color: var(--fontcolor1);
}
.secondary-link{
    color: var(--linkcolor);
}

.breadcrumb .active{
    color: var(--fontcolor);
}
/*Yläpalkin väri*/
.navbar {
    background: var(--navbar) !important;
}
/*Ilmoitusten väri*/
.badge, .label {
    background: var(--alert) !important;  
    color: black !important;
}
.badge-lg{
    background: var(--alert) !important;
    color: black !important;
}
.span .badge{
    background:var(--alert) !important;
    color: black !important;
}
/*Laatikoiden pääväri*/
.panel{
background: var(--main); /*Pääväri*/
}

.panel .panel-side{
background: var(--main1); /*Toinen väri*/
}

.table > tbody {
    background-color: var(--main); /*Table-osien taustaväri*/
}

.table > tbody > tr:nth-child(2n+1) > td,
.table > tbody > tr:nth-child(2n+1) > th{ /*Table-osien väri*/
    background-color: var(--main1);
}

/*Etusivun Kalenterin värit*/
.frontpage .calendar-block table.vismaDatePickerCalendar td.no-events {
  background: #1b1b1b;
}

table.vismaDatePickerCalendar td a {
    color: var(--fontcolor);
}
table.vismaDatePickerCalendar th span{
    color: var(--fontcolor);
}

/* Tuntien värit */
.schedule .block-area-container .schedule-container .block {
    background-color:var(--tunti)!important;
    border-color: var(--tunti1)!important;
    border: 1.4px solid
}
.schedule .block-area-container .hours-container div{
    border-top: 0px;
}
.schedule .block-area-container .schedule-container .hour{
    border: 0px;
}
.schedule .block-area-container .schedule-container .day-separator{
    border-color: var(--tunti1);
}

/*OPINNOT-sivu*/

#choices-tree{
    background: var(--main1);
    border: 0px;
}
/*Pakollisten aineiden väri*/
#choices-tree .c-type34-graded{
    background: var(--pak);
    border-color: var(--pak1);
}

/*Syventävien aineiden väri*/
#choices-tree .c-type36-graded{
    background: var(--syv);
    border-color: var(--syv1);
}

/* Soveltavien aineiden värit*/
#choices-tree .c-type37-graded{
    background: var(--sov);
    border-color: var(--sov1);
}
/*Suorittamattomat aineet*/
.c-type34, .c-type36, .c-type37{
    background:var(--suo) !important;
    color: #8a8686 !important;
}

.c-type40, .c-type40-graded{
    background:var(--border) !important;
}

/*Kurssin lisätiedot*/
.popover{
    background-color:var(--main) !important;
}
/*Suoritukset jne*/
.well{
    background:var(--main1) !important;
}
.well .selectable{
    color: var(--fontcolor);
}
.well label{
    color:var(--fontcolor) !important;
}
.table > thead > tr {
  background: var(--main);
}

/* Viestit - Osio */

/* Viestiosion reunat */
.nav-tabs:not(.navbar-nav) + .tab-content {
  margin-top: 0;
  border-top: 2px solid var(--border);
  border-left:2px solid var(--border);
  border-right:2px solid var(--border);
}

.dock-floating{
    background:var(--main) !important;
}
.pagination > li > a.btn{
    background: var(--main1) !important;
}
.pagination > li > a.btn span{
    filter:contrast(0)
}

/*Viestien taustaväri*/
.cke_editable {
  font-size: 13px;
  line-height: 1.6;
  word-wrap: break-word;
  background: var(--main) !important
}

body:not(.wilma){
    color:var(--fontcolor);
}

.cke_toolgroup,
.cke_combo_button {
    filter:invert(80%)
}
#cke_1_top{
    background-color:var(--main);
    border: 0px;
}
#cke_1_bottom, .cke_chrome, #cke_1_top{
    background-color:var(--main);
    border: 0px;
}

/*Sivupaneeli*/
.sidepanel{
    background: var(--main);
}
.panel-default{
    background: var(--main1) !important;
}

.recipients-selected .recipient-item {
    background: var(--main);
}
.list-group{
    filter:invert(89%)
}

.nav-tabs:not(.navbar-nav) > li > a, .nav-tabs:not(.navbar-nav) > li > a::before, .nav-tabs:not(.navbar-nav) > li > a::after, .nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a, .nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a::before, .nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a::after{
    color: var(--fontcolor) !important;
}

.nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a {
    background: red !important;
    border-radius: 1em 1em 0 0;
    border: 2px solid var(--green1);
    border-bottom: none;
    transform: translateY(-1px)
}
/*Automaattinen uloskirjautuminen*/
.modal-content{
    background: var(--main1);
}
.modal-header{
    background: var(--main1);
}

/*Lomakkeiden input*/
.form-control{
background: var(--main1);
}
.form-control, .uneditable-input, .form-group label, input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tl"], input[type="color"], input[type="text"], input[type="button"] textarea{
color: var(--fontcolor);
}
.datepick-popup{
    background:var(--main);
}
.datepick-trigger{
    background: url(https://cdn.inschool.fi/2.33.50.2/nc3/img/vismaicons/top_menu/menu_calendar.svg) no-repeat scroll -85px 0 var(--main) !important;
}
.btn.btn-default{
    background:linear-gradient(to bottom,var(--main) 10%,var(--main1) 75%);
    color: var(--fontcolor)
}

.dropdown-menu{
    background: var(--dropdown);
}

.dropdown-menu > li > a:not(.btn){
    color:var(--fontcolor) !important;
}

.table > tbody td.letter-text{
    background-color: var(--main) !important;
}

#choices-table .level1 TD{
    background-color: var(--main);
}

.table:not(.table-grey).hidden-odd-fix.white > tbody, .table:not(.table-grey).manual-odd-even.white > tbody{
    background-color:var(--main) !important;
}

.tab-content{
    background: var(--main);
}
.draggable-list .draggable-list-item {
    background-color: var(--main1);
}

/*Kultainen logo*/
.wilma-logo{
    filter: invert(50%) sepia(13%) saturate(1155%) hue-rotate(21deg) brightness(160%) contrast(100%);
}
/*Muut korjaukset*/

/* Poistaa kalenterin etusivulta */
.frontpage .right .panel.calendar-block {
    display: none;
  }
  .left.col-sm-12.col-md-pull-4.col-md-8.col-lg-pull-4.col-lg-8.resp-column > div.panel:nth-of-type(3){
  display: none;
  }
  /* Pehmentää laatikoita etusivulla */
  
  .multicol .panel{
  -moz-border-radius:40px;  /* for Firefox */
  -webkit-border-radius:40px; /* for Webkit-Browsers */
  border-radius:40px; /* regular */
  box-shadow: 0 0px 1px rgba(255, 255, 255, .7);
  border-width: 2px;
  border-color: #FFD700;
  }
  .panel .panel-side {
      border-left: 0px;
  }
  .panel-body{
  -moz-border-radius:40px;  /* for Firefox */
  -webkit-border-radius:40px; /* for Webkit-Browsers */
  border-radius:40px; /* regular */
  box-shadow: 0 0px 0px rgba(255, 255, 255, .7);
  border-width: 0px;
  }
  /* Pehmentää työjärjestysikkunan laatikkoa*/
  
  .tab-content.panel{
  -moz-border-radius:40px;  /* for Firefox */
  -webkit-border-radius:40px; /* for Webkit-Browsers */
  border-radius:30px; /* regular */
  box-shadow: 0 0px 1px rgba(255, 255, 255, .7);
  }
  /* Poistaa Ylläpidon tiedotukset (Voi sisältää tärkeää tietoa!)*/
  .alert {
  display:none;
  }
  
  /* Opinnot-sivun järjestely */
  
  #choices-tree a {
    font-size: 12px;
  }
  
  /*Oppiaineen nimi*/
  #choices-tree .c-type40, #choices-tree .c-type40-sel, #choices-tree .c-type40-graded {
      width: auto;
      padding-right: 0px;
  }
  
  td.expand{
      width: 100%
  }
  
  /* Tekstin parempi sijoitus, numeroiden padding */
  #choices-tree a {
  padding: 0 1px 0 0px;
  }
  
  td.shrink{
      font-weight: 900; /*Numerot tummaksi */
  }
  
  .nav-tabs:not(.navbar-nav) > li > a,
  .nav-tabs:not(.navbar-nav) > li > a::before,
  .nav-tabs:not(.navbar-nav) > li > a::after,
  .nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a,
  .nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a::before,
  .nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a::after{
      background: rgba(0, 0, 0, 0) !important;
      color: #000;
       text-shadow: 0.5px 0.5px #00000047;
  }
  
  
  .nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a {
      background: var(--main2) !important;
      border-radius: 1em 1em 0 0;
      border: 2px solid #FFD700;
      border-bottom: none;
      transform: translateY(-1px)
  }
  
  .nav-tabs:not(.navbar-nav) > li::after{
      content:none;
  }
  
  .navbar .nav > li > a, .navbar .nav > li.active > a{
      color: var(--fontcolor);
  }
  /* Kirjautumissivun muutokset */

/* Poistaa pari turhaa linkkiä */
.alert.alert-sm{
    display:none;
}