
/*Väriasetukset*/

:root{
--navbar: #00000069;
--alert: #3172e3;
    
--main:#fff; /*Laatikoiden väri*/
--main1:#fff; /*Muiden laatikoiden värit*/

/*Viestit-Osio*/
--border:#099dbe;
--viestit1:#fff; /*Viestien taustaväri*/
    
/*Työjärjestys*/
--tunti:#fafafa; /*Tuntien värit*/
--tunti1:#000; /*Tuntien reunat*/
    
/*OPINNOT-Sivu - (Pak)olliset, (syv)entävät ja (sov)eltavat*/
/*Pakolliset*/
--pak: #88ef75b3;/*Laatikon väri*/
--pak1: #1aa400; /*Laatikon reunat*/
/*Syventävät*/
--syv: #ecff31;  /*Laatikon väri*/
--syv1: #ffe528; /*Laatikon reunat*/
/*Soveltavat*/
--sov: #fff;     /*Laatikon väri*/
--sov1: #999999; /*Laatikon reunat*/
}


/*Yläpalkin väri*/
.navbar {
    background: var(--navbar) !important;
}
/*Ilmoitusten väri*/
.badge, .label {
    background: var(--alert) !important   
}
.badge-lg{
    background: var(--alert) !important;
}
.span .badge{
    background:var(--alert) !important;
}
/*Laatikoiden pääväri*/
.panel{
background: var(--main); /*Pääväri*/
}

.panel .panel-side{
background: var(--main1); /*Toinen väri*/
}

.table > tbody {
    background-color: var(--main); /*Table-osien taustaväri*/
}

.table > tbody > tr:nth-child(2n+1) > td,
.table > tbody > tr:nth-child(2n+1) > th{ /*Table-osien väri*/
    background-color: var(--main1);
}



/* LUKUJÄRJESTYS*/

/* Tuntien värit */
.schedule .block-area-container .schedule-container .block {
    background-color:var(--tunti)!important;
    border-color: var(--tunti1)!important;
    border: 1.4px solid
}

/*OPINNOT-sivu*/

/*Pakollisten aineiden väri*/
#choices-tree .c-type34-graded{
    background: var(--pak);
    border-color: var(--pak1);
}

/*Syventävien aineiden väri*/
#choices-tree .c-type36-graded{
    background: var(--syv);
    border-color: var(--syv1);
}

/* Soveltavien aineiden värit*/
#choices-tree .c-type37-graded{
    background: var(--sov);
    border-color: var(--sov1);
}

/* Viestit - Osio */

/* Viestiosion reunat */
.nav-tabs:not(.navbar-nav) + .tab-content {
  margin-top: 0;
  border-top: 2px solid var(--border);
  border-left:2px solid var(--border);
  border-right:2px solid var(--border);
}


/*Viestien taustaväri*/
.cke_editable {
  font-size: 13px;
  line-height: 1.6;
  word-wrap: break-word;
  background: var(--viestit1) !important
}

/*Muut korjaukset*/

/* Poistaa kalenterin etusivulta */
.frontpage .right .panel.calendar-block {
  display: none;
}
.left.col-sm-12.col-md-pull-4.col-md-8.col-lg-pull-4.col-lg-8.resp-column > div.panel:nth-of-type(3){
display: none;
}
/* Pehmentää laatikoita etusivulla */


.col-xs-12.col-sm-6.col-md-7.col-lg-7.panel-side.panel-body{
-moz-border-radius:40px;  /* for Firefox */
-webkit-border-radius:40px; /* for Webkit-Browsers */
border-radius:40px; /* regular */
box-shadow: 0 0px 1px rgba(255, 255, 255, .7);
}
.multicol .panel{
-moz-border-radius:40px;  /* for Firefox */
-webkit-border-radius:40px; /* for Webkit-Browsers */
border-radius:40px; /* regular */
box-shadow: 0 0px 1px rgba(255, 255, 255, .7);
}

/* Pehmentää työjärjestysikkunan laatikkoa*/

.tab-content.panel{
-moz-border-radius:40px;  /* for Firefox */
-webkit-border-radius:40px; /* for Webkit-Browsers */
border-radius:30px; /* regular */
box-shadow: 0 0px 1px rgba(255, 255, 255, .7);
    
}
/* Poistaa Ylläpidon tiedotukset (Voi sisältää tärkeää tietoa!)*/
.alert {
display:none;
}

/* Opinnot-sivun järjestely */

#choices-tree a {
  font-size: 12px;
}

/*Oppiaineen nimi*/
#choices-tree .c-type40, #choices-tree .c-type40-sel, #choices-tree .c-type40-graded {
    width: auto;
    padding-right: 0px;
}

td.expand{
    width: 100%
}

/* Tekstin parempi sijoitus, numeroiden padding */
#choices-tree a {
padding: 0 1px 0 0px;
}

td.shrink{
    font-weight: 900; /*Numerot tummaksi */
}

.nav-tabs:not(.navbar-nav) > li > a,
.nav-tabs:not(.navbar-nav) > li > a::before,
.nav-tabs:not(.navbar-nav) > li > a::after,
.nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a,
.nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a::before,
.nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a::after{
    background: rgba(0, 0, 0, 0) !important;
    color: #000;
     text-shadow: 0.5px 0.5px #00000047;
}


.nav-tabs:not(.navbar-nav) > li.active:not(.tabdrop) > a {
    background: #fff !important;
    border-radius: 1em 1em 0 0;
    border: 2px solid #099dbe;
    border-bottom: none;
    transform: translateY(-1px)
    
}

.nav-tabs:not(.navbar-nav) > li::after{
    content:none;
}
/* Kirjautumissivun muutokset */

/* Poistaa pari turhaa linkkiä */
.alert.alert-sm{
    display:none;
}





/* Gradient Background */

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
